<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista e Furnitorëve</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Lista e Furnitorëve</h1>
    <div class="mb-2">
        <a th:href="@{/main-list}" class="btn btn-warning btn-sm me-2">FAQJA KRYESORE</a>
    </div>
    <div th:if="${role == 'MANAGER'}">
        <a href="/suppliers/add" class="btn btn-primary mb-3 mt-2">Shto Furnitor</a>
    </div>
    <div th:if="${email}">
        <p>Mirë se vini, <span th:text="${email}"></span>! (Roli: <span th:text="${role}"></span>)</p>
        <a th:href="@{/login}">Dil</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Emri</th>
            <th>Email</th>
            <th>Adresa</th>
            <th th:if="${role == 'MANAGER'}">Veprime</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="supplier : ${suppliers}">
            <td th:text="${supplier.id}"></td>
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.email}"></td>
            <td th:text="${supplier.adresa}"></td>
            <td th:if="${role == 'MANAGER'}">
                <a th:href="@{/suppliers/edit/{id}(id=${supplier.id})}" class="btn btn-warning btn-sm">Ndrysho</a>
                <a th:href="@{/suppliers/delete/{id}(id=${supplier.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Je i sigurt?')">Fshij</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/suppliers/supplier-list', {
            method: 'GET',
            credentials: 'include'
        })
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
    });
</script>
</body>
</html>