<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista e Perdoruesve</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Lista e Perdoruesve</h1>
    <a href="/users/user-form" class="btn btn-primary mb-3">Shto Perdorues</a>
    <div th:if="${session.loggedInUser}">
        <p>Welcome, <span th:text="${session.loggedInUser.name}"></span>!</p>
        <a th:href="@{/users/logout}">Logout</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Emri</th>
            <th>Email</th>
            <th>Roli</th>

            <th>Veprime</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>


            <td>
                <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-warning btn-sm">Ndrysho</a>
                <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Je i sigurt?')">Fshij</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>